#containerForPlayersLifetimeStats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
}

.grid-item{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.player1, .player2{ 
    background-color: cadetblue;
}
.lifetimePlacing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.lifetimeStats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.player1compare, .player2compare{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.progressbar{
    width: 90%;
    height: 10px;
    background-color: aqua;
}
.progress{
    height: 10px;
    background: red;
}